<!-- <div class="jumbotron">
  <ul>
    <li><a routerLink="/create" routerLinkActive="active">Create</a></li>
    <li><a routerLink="/list">List</a></li>
  </ul>
</div> -->
<!-- <section class="section">
  <div class="container">
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a
                class="button is-primary"
                routerLink="/create"
                routerLinkActive="active"
              >
                <strong>Add Employee</strong>
              </a>
              <a class="button is-light">
                Home
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</section> -->
<router-outlet></router-outlet>
