<!-- <div class="container">
  <h3>Edit Student Record</h3>

  <div class="form-group" *ngIf="data">
    <label for="name">Name</label>
    <input
      type="text"
      class="form-control"
      id="employee_name"
      [(ngModel)]="data.employee_name"
      placeholder="Enter Name"
    />
  </div>
  <div class="form-group" *ngIf="data">
    <label for="name">Salary</label>
    <input
      type="number"
      class="form-control"
      id="employee_salary"
      [(ngModel)]="data.employee_salary"
      placeholder="Enter Salary"
    />
  </div>
  <div class="form-group" *ngIf="data">
    <label for="name">Age</label>
    <input
      type="number"
      class="form-control"
      id="employee_age"
      [(ngModel)]="data.employee_age"
      placeholder="Enter age"
    />
  </div>
  <button type="submit" class="btn btn-success" (click)="update()">
    Update
  </button>
  <button type="submit" class="btn btn-warning ml-1" [routerLink]="['/list']">
    Cancel
  </button>
</div> -->

<section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-half">
          <h1 class="title">
            Edit Employee
          </h1>
        </div>
        <div class="column is-half">
          <a
            class="button is-primary is-pulled-right"
            routerLink="/"
            routerLinkActive="active"
          >
            <!-- <strong></strong> -->
            Back
          </a>
        </div>
      </div>
      <br />
      <div class="columns is-centered">
        <div class="column is-half">
          <div class="bd-notification is-primary">
            <form [formGroup]="form">
              <div class="box" *ngIf="data">
                <div class="field">
                  <label class="label">Id</label>
                  <div class="control">
                    <input
                      class="input"
                      type="text"
                      id="IDBook"
                      [(ngModel)]="data.IDBook"
                      placeholder="Enter IDBook"
                      formControlName="IDBook"
                    />
                  </div>
                  <div
                    *ngIf="submitted && f.IDBook.errors"
                    class="help is-danger"
                  >
                    <div *ngIf="f.IDBook.errors.required">
                      Book ID is required
                    </div>
                  </div>
                </div>
                <div class="field">
                  <label class="label">FirstName</label>
                  <div class="control">
                    <input
                      class="input"
                      type="text"
                      id="FirstName"
                      [(ngModel)]="data.FirstName"
                      placeholder="Enter FirstName"
                      formControlName="FirstName"
                    />
                  </div>
                  <div
                    *ngIf="submitted && f.FirstName.errors"
                    class="help is-danger"
                  >
                    <div *ngIf="f.FirstName.errors.required">
                      First Name is required
                    </div>
                  </div>
                </div>
                <div class="field">
                  <label class="label">LastName</label>
                  <div class="control">
                    <input
                      class="input"
                      type="text"
                      id="LastName"
                      [(ngModel)]="data.LastName"
                      placeholder="Enter LastName"
                      formControlName="LastName"
                    />
                  </div>
                  <div
                    *ngIf="submitted && f.LastName.errors"
                    class="help is-danger"
                  >
                    <div *ngIf="f.LastName.errors.required">
                      Last Name is required
                    </div>
                  </div>
                </div>
                <div class="field has-text-right">
                  <button
                    type="submit"
                    class="button is-info mb-2 mt-2 mr-2"
                    [routerLink]="['/list']"
                  >
                    Cencel
                  </button>
                  <button
                    type="submit"
                    class="button is-warning mb-2 mt-2"
                    (click)="update()"
                  >
                    Update Employee
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
